*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
    background-color: blanchedalmond;
}
h1{
    position: absolute;
    left: 50%;
    margin: 20px;
    padding: 10px 20px;
    transform: translate(-50%);
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(235, 148, 148);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    width: 50vw;
    height: 40px;
    background-color: rgb(57, 57, 59);
    border-radius: 20px;
}
.section1{
    width: 60%;
    height: 40px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.section1>h3{
    font-family:Georgia, 'Times New Roman', Times, serif
}